<?xml version="1.0" encoding="UTF-8"?>

<!--
  Codehaus Cargo, copyright 2004-2011 Vincent Massol, 2012-2023 Ali Tokmen.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <description>Codehaus Cargo Daemon</description>

  <servlet>
    <servlet-name>cargo-daemon-servlet</servlet-name>
    <servlet-class>org.codehaus.cargo.daemon.CargoDaemonServlet</servlet-class>
    <!--
      The load-on-startup element indicates that this servlet should be loaded on the startup of
      the web application. If the value is a negative integer, or the element is not present, the
      container is free to load the servlet whenever it chooses.

      Since Cargo Daemon has a feature for autostarting containers, we need to have load-on-startup
      set to some non-negative integer.
      -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>cargo-daemon-error</servlet-name>
    <servlet-class>org.codehaus.cargo.daemon.CargoDaemonErrorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>cargo-daemon-servlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
    <url-pattern>/installed</url-pattern>
    <url-pattern>/start</url-pattern>
    <url-pattern>/stop</url-pattern>
    <url-pattern>/viewlog</url-pattern>
    <url-pattern>/viewcargolog</url-pattern>
    <url-pattern>/getHandles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cargo-daemon-error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>cargo-daemon-authentication</filter-name>
    <filter-class>org.codehaus.cargo.daemon.CargoDaemonAuthenticationFilter</filter-class>
    <!--
      If you are looking for an example of password properties file, please refer to:
      https://raw.githubusercontent.com/codehaus-cargo/cargo/master/extensions/daemon/webapp/src/test/resources/cargo-daemon-passwords-sample.properties

      Not initialising this parameter, and not setting it as a system property will make the
      Cargo Daemon function without enabling its authentication. You can of course enable
      authentication through a Jetty, Tomcat or other application server it would be running on
      (particularly if you want to enable complex authentication mechanisms).

    <init-param>
      <param-name>cargo.daemon.passwordFile</param-name>
      <param-value>cargo-daemon-passwords.properties</param-value>
    </init-param>
      -->
  </filter>
  <filter-mapping>
    <filter-name>cargo-daemon-authentication</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>500</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
     <exception-type>java.io.IOException</exception-type>
    <location>/error</location>
  </error-page>
  <error-page>
     <exception-type>java.lang.Throwable</exception-type>
    <location>/error</location>
  </error-page>
  <error-page>
     <exception-type>javax.servlet.ServletException</exception-type>
    <location>/error</location>
  </error-page>
</web-app>
