<Server port="@cargo.rmi.port@" shutdown="SHUTDOWN" debug="@catalina.logging.level@">

  <Service name="Tomcat-Standalone" debug="@catalina.logging.level@">

    <Connector className="org.apache.catalina.connector.http.HttpConnector"
        port="@cargo.servlet.port@" minProcessors="5" maxProcessors="75"
        acceptCount="10" debug="@catalina.logging.level@" URIEncoding="@catalina.servlet.uriencoding@" />

    <!-- Define an AJP 1.3 Connector on port @cargo.tomcat.ajp.port@ -->
    <Connector className="org.apache.ajp.tomcat4.Ajp13Connector" 
               port="@cargo.tomcat.ajp.port@" protocol="AJP/1.3" redirectPort="8443" />

    <Engine name="Standalone" defaultHost="@cargo.hostname@" debug="@catalina.logging.level@">

      <Logger className="org.apache.catalina.logger.FileLogger"
          prefix="catalina-" suffix=".log" timestamp="true"/>

      <Realm className="org.apache.catalina.realm.MemoryRealm" />

      <Host name="@cargo.hostname@" debug="@catalina.logging.level@" 
          appBase="webapps" unpackWARs="true">
      
        <!-- Contexts to explicitely point to where the wars are located -->
        @tomcat.webapps@

      </Host>
      
      <DefaultContext>
      </DefaultContext>

    </Engine>

  </Service>

</Server>
