.standard-text
{
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	color: #000000;
}

INPUT, TD, A
{
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;	
}
